<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザ登録</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	ユーザ登録
	<form action="/users/commit" method="post">
    ログイン名：<span th:text="${usersForm.loginName}">test</span> 
    <input type="hidden" name="loginName" value="loginName" th:attr="value=${usersForm.loginName}" />
    <p />パスワード：passwd<input type="hidden" name="passwd" value="password" th:attr="value=${usersForm.passwd}"/>
    <br/>
    <input type="submit" value="登録" /><input type="button" onclick="history.back();" value="戻る" />
    </form>
</body>
</html>