<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザ登録</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
	ユーザ登録
	<form action="/users/commit" method="post">
    ログイン名：<span th:text="${usersForm.loginName}">test</span> 
    <input type="hidden" name="loginName" value="loginName" th:attr="value=${usersForm.loginName}" />
    <p />パスワード：表示されません。<input type="hidden" name="passwd" value="password" th:attr="value=${usersForm.passwd}"/>
    
    <hr/>
    
    <div class="row">
    	<div class="col-xs-4">
    		<input type="submit" class="btn btn-primary btn-block" value="登録" />
    	</div>
    	<div class="col-xs-4">
    		<input type="button" class="btn btn-primary btn-block" onclick="history.back();" value="戻る" />
    	</div>
    </div>
    </form>
    </div>
</body>
</html>