<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

<link href="/css/user.css" th:href="@{/css/user.css}" rel="stylesheet"/>

<title>ユーザ一覧</title>
</head>
<body>
	ユーザ一覧
	<div id="container">
		<table border="1">
			<tr>
				<th>ID</th><th>ログイン名</th><th>パスワード</th>
			</tr>
			<tr th:each="userData: ${users}">
				<td align="center">
					<a th:href="@{'edit/' + ${userData.id}} + '/'" th:text="${userData.id}">ID</a>
				</td>
				<td th:text="${userData.loginName}">ログイン名</td>
				<td th:text="${userData.passwd}">パスワード</td>
			</tr>
		</table>
	</div>
	<div id="under_content">
	<a href="/users/regist">ユーザ新規登録</a>
	<a th:href="@{'/users/regist'}">ユーザ新規登録その2</a>
	</div>
</body>
</html>